*~
build/
install/
log/
.codex/
.codex
__pycache__/
*.pyc
*.egg-info/
*.aux
*.log
*.out
*.toc
generated/
room315_shuttle_rail_report_ar.html
room315_shuttle_rail_report_ar.pdf
/6/
/=1
/Modélisation salle 314/
/Modélisation salle 315-20260305/
/mfja_robot_control_config/log/
/mfja_robot_control_config/config/room_315_kinematics/continuous_path_report.yaml
/mfja_robot_control_config/config/room_315_kinematics/debug_plots/
/mfja_robot_control_config/config/room_315_kinematics/report_figures/
/mfja_robot_control_config/config/room_315_kinematics/report_figures.zip
/multi_robot_usage_guide.*
/rail_switch_integration_report.*

# Local explanation exports
*_explanation_ar.html
/mfja_3rd_floor_bringup/launch/exp/
/mfja_rail_interfaces/exp/
/mfja_robot_control_config/config/room_315_kinematics/*_explanation_ar.html
