<?xml version="1.0"?>
<robot name="gear_support">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.005"/>
      <geometry>
        <box size=".174 .085 .01"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 .0155 0.091"/>
      <geometry>
        <box size=".004 .019 .162"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 -.0155 0.091"/>
      <geometry>
        <box size=".004 .019 .162"/>
      </geometry>
    </visual>
  </link>
</robot>
