<?xml version="1.0"?>
<robot name="staubli_tx2_60l">
  <material name="staubli_yellow">
    <color rgba="0.97 0.74 0.17 1.0"/>
  </material>
  <material name="staubli_grey">
    <color rgba="0.50 0.50 0.50 1.0"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60/visual/base_link.stl"/>
      </geometry>
      <material name="staubli_yellow"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60/collision/base_link.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="link_1">
    <visual>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60/visual/link_1.stl"/>
      </geometry>
      <material name="staubli_yellow"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60/collision/link_1.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="link_2">
    <visual>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60l/visual/link_2.stl"/>
      </geometry>
      <material name="staubli_yellow"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60l/collision/link_2.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="link_3">
    <visual>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60/visual/link_3.stl"/>
      </geometry>
      <material name="staubli_yellow"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60/collision/link_3.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="link_4">
    <visual>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60l/visual/link_4.stl"/>
      </geometry>
      <material name="staubli_yellow"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx2_60l/collision/link_4.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="link_5">
    <visual>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx60/visual/link_5.stl"/>
      </geometry>
      <material name="staubli_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx60/collision/link_5.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="link_6">
    <visual>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx60/visual/link_6.stl"/>
      </geometry>
      <material name="staubli_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mfja_3rd_floor_description/models/staubli_tx2_60l/meshes/tx60/collision/link_6.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="flange"/>
  <link name="base"/>
  <link name="tool0"/>

  <joint name="joint_1" type="revolute">
    <origin xyz="0 0 0.375" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="link_1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159265359" upper="3.14159265359" effort="126.0" velocity="7.59218224618"/>
  </joint>

  <joint name="joint_2" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.22529479629" upper="2.22529479629" effort="47.0" velocity="6.71951762018"/>
  </joint>

  <joint name="joint_3" type="revolute">
    <origin xyz="0 0.02 0.40" rpy="0 0 0"/>
    <parent link="link_2"/>
    <child link="link_3"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.66162710929" upper="2.66162710929" effort="32.0" velocity="8.72664625997"/>
  </joint>

  <joint name="joint_4" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="link_3"/>
    <child link="link_4"/>
    <axis xyz="0 0 1"/>
    <limit lower="-4.71238898038" upper="4.71238898038" effort="7.0" velocity="17.3664683405"/>
  </joint>

  <joint name="joint_5" type="revolute">
    <origin xyz="0 0 0.45" rpy="0 0 0"/>
    <parent link="link_4"/>
    <child link="link_5"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.11184839491" upper="2.31256125889" effort="8.0" velocity="18.5875365032"/>
  </joint>

  <joint name="joint_6" type="revolute">
    <origin xyz="0 0 0.07" rpy="0 0 0"/>
    <parent link="link_5"/>
    <child link="link_6"/>
    <axis xyz="0 0 1"/>
    <limit lower="-4.71238898038" upper="4.71238898038" effort="2.0" velocity="25.2201963626"/>
  </joint>

  <joint name="joint_6_flange" type="fixed">
    <origin xyz="0 0 0" rpy="0 -1.57079632679 0"/>
    <parent link="link_6"/>
    <child link="flange"/>
  </joint>

  <joint name="base_link_base" type="fixed">
    <origin xyz="0 0 0.375" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="base"/>
  </joint>

  <joint name="flange_tool0" type="fixed">
    <origin xyz="0 0 0" rpy="0 1.57079632679 0"/>
    <parent link="flange"/>
    <child link="tool0"/>
  </joint>
</robot>
