<?xml version="1.0"?>
<model>
  <name>staubli_tx2_60l_suction</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>mfja_3rd_floor_gz</name>
    <email>n/a</email>
  </author>
  <description>Staeubli TX2-60L 6-DOF manipulator with a fixed suction TCP for Room 315 manipulation demos.</description>
</model>
