<?xml version="1.0"?>
<model>
  <name>tiago_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>mfja_3rd_floor_gz</name>
    <email>n/a</email>
  </author>
  <description>Simplified TIAGo mobile robot without arm or head for Gazebo Harmonic.</description>
</model>
